@using System.Globalization
@using AchievementsGrabber.Common.Extensions
@model AchievementsGrabber.Model.Default.ResultModel
		   
@{
	var games = Model.Games.Safe().ToArray();
	var msg = Model.Error.Either(games.Length == 0 ? "No games found." : "");
}
@if (!string.IsNullOrWhiteSpace(msg))
{
	<div class="alert text-center">@msg</div>
}
else
{
	<h3>Games list</h3>
	<table class="table table-hover">
		<tbody>
			@foreach (var game in games)
			{
				var siblings = game.Siblings.Safe().ToArray();
				<tr>
					<td>
						<img alt="-" src="@game.Image" class="img-rounded">
						<a href="@Url.Action("Details", new {url = @game.Url})">
							<strong style="margin-left: 20px;">@game.Text</strong>
						</a>
					</td>
					<td style="line-height: 64px;">
						@if (siblings.Length > 1)
						{
							<div class="pull-right">
								<a class="btn btn-link no-decoration as-body">
									@siblings.Length.ToString(CultureInfo.InvariantCulture)
									<i class='icon-chevron-down'></i>
								</a>
							</div>
						}
					</td>
				</tr>

				if (siblings.Length > 1)
				{
					
				}
			}
		</tbody>
	</table>
}